In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import string
%matplotlib inline
import os
import datetime 
from tqdm import tqdm_notebook

In [2]:
b = pd.read_csv('data/Berina.csv')
b['Date and time'] = b['Date'] + ' ' +  b['Time of day']
b['Date and time'] = pd.to_datetime(b['Date and time'])

files = os.listdir(os.chdir('./data'))
for i in tqdm_notebook(files):
    path = str(i)
    curr = pd.read_csv(path, engine='python')
    curr['Date and time'] = curr['Date'] + ' ' +  curr['Time of day']
    curr['Date and time'] = pd.to_datetime(curr['Date and time'])
    
    b = b.append(curr, sort=False)

HBox(children=(IntProgress(value=0, max=21), HTML(value='')))

In [4]:
df = b
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 328226 entries, 0 to 954
Data columns (total 5 columns):
Date             328226 non-null object
Time of day      328226 non-null object
Sender           328226 non-null object
Content          328226 non-null object
Date and time    328226 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 15.0+ MB

In [5]:
df = df.drop(['Date', 'Time of day'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 328226 entries, 0 to 954
Data columns (total 3 columns):
Sender           328226 non-null object
Content          328226 non-null object
Date and time    328226 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 10.0+ MB

In [ ]:
df.describe()

In [19]:
df['Sender'].value_counts()

Berina                                  152688
Me                                      146065
Mob ;Aida;Munevera                       10448
Mob ;Aida                                 5520
Mob ;Aida;lamija;Munevera;Enes;Edina      2980
Munevera                                  2502
Pasha                                     2203
Eldar Muharemovic                         1291
Mob ;Aida;Munevera;Amir Ligata            1215
lamija                                     861
Mob ;Aida;Amir Ligata                      467
Bakir Mob                                  424
Vir Triumphalis                            401
Vareta                                     354
Antonio                                    213
Plaki                                      144
Amir Ligata                                124
M                                          112
Nadir Karavdic                              74
Enes                                        59
Adem Yankee                                 46
Ali                                         35
Name: Sender, dtype: int64

In [9]:
df['Label'] = 'none'
df.head()

   Sender            Content       Date and time Label
0      Me            Sve ok? 2018-03-30 16:13:33  none
1  Berina             Jestee 2018-03-30 16:13:46  none
2  Berina         Dosadno mi 2018-03-30 16:13:50  none
3      Me     Jos nisu dosli 2018-03-30 16:14:09  none
4  Berina  Izasla sam ispred 2018-03-30 16:14:13  none

In [34]:
conditions = [
    (df['Sender'] == 'Me'),
    (df['Sender'] == 'Berina'),
    (df['Sender'] == 'Mob ;Aida;lamija;Munevera;Enes;Edina') |  ('Mob ;Aida' == df['Sender']) | ('Mob ;Aida;Munevera' == df['Sender']) | ('Munevera' == df['Sender']) | ('Mob ;Aida;Munevera;Amir Ligata' == df['Sender']) | ('Mob ;Aida;Amir Ligata' == df['Sender'] )| ('lamija' == df['Sender']) | ('Enes' == df['Sender'])
    ]
choices = ['Me', 'Gf', 'Family']
df['Label'] = np.select(conditions, choices, default='Friends')

In [37]:
df.Label.value_counts()

Gf         152688
Me         146065
Family      24052
Friends      5421
Name: Label, dtype: int64

In [40]:
df.head()

   Sender            Content       Date and time Label
0      Me            Sve ok? 2018-03-30 16:13:33    Me
1  Berina             Jestee 2018-03-30 16:13:46    Gf
2  Berina         Dosadno mi 2018-03-30 16:13:50    Gf
3      Me     Jos nisu dosli 2018-03-30 16:14:09    Me
4  Berina  Izasla sam ispred 2018-03-30 16:14:13    Gf

In [42]:
#df2 = df.sort_values('Date and time') sortiranje po datumima, ali onda se izgubi kome si slao poruke

In [44]:
df.to_csv("finalData.csv", encoding='utf-8', index=False)

In [ ]:
plt.figure(figsize=(16, 6))
ax = sns.countplot( b['Date and time'].dt.month, hue = b['Sender'])
ax.set_xlabel("Monthly")

In [ ]:
plt.figure(figsize=(16, 6))
ax = sns.countplot( b['Date and time'].dt.day, hue = b['Sender'])
ax.set_xlabel("Daily")

In [ ]:
plt.figure(figsize=(16, 6))
ax = sns.countplot( b['Date and time'].dt.hour, hue = b['Sender'])
ax.set_xlabel("Hourly")

In [ ]:
friends = pd.DataFrame(columns=['Name', 'length', 'sent', 'received', 'top date', 'top month', 'top day', 'top hour', 'top msgs', 'avg len'])

In [ ]:
b = pd.read_csv('data/Berina.csv')
b['Date and time'] = b['Date'] + ' ' +  b['Time of day']
b['Date and time'] = pd.to_datetime(b['Date and time'])
b= b.drop(['Date', 'Time of day'], axis=1)

In [ ]:
len(b)

In [ ]:
len(bakir)

In [ ]:
result = bakir.append(b, sort=False)

In [ ]:
result = result.sort_values(by='Date and time')

In [ ]:
plt.figure(figsize=(16, 6))
ax = sns.countplot( result['Date and time'].dt.hour, hue = result['Sender'])
ax.set_xlabel("monthly")

In [ ]:
files = os.listdir(os.chdir('./data'))

In [ ]:
for i in files:
    path = "data/" + i
    name  = str(i)[:-4]
    name = pd.read_csv(path)
    name['Date and time'] = name['Date'] + ' ' +  name['Time of day']
    name['Date and time'] = pd.to_datetime(name['Date and time'])
    name= df.drop(['Date', 'Time of day'], axis=1)

In [ ]:
Plaki